body {
  font-family: Arial, Helvetica, sans-serif;
  color: black
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

/* Base Toast Styles */
.toast-container {
  padding: 0.55rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  max-width: 400px;
}

.toast-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.toast-container.closing {
  opacity: 0;
  transform: translateY(2rem);
}

.toast-container.top-center {
  transform: translateY(-2rem);
}

/* Background Colors Based on Type */
.toast-container.success {
  background-color: #D1FAE5;
}

.toast-container.error {
  background-color: #FEE2E2;
}

.toast-container.info {
  background-color: #DBEAFE;
}

.toast-container.custom {
  background-color: #F3F4F6;
}

/* Flex Container and Items */
.toast-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toast-flex-items {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.close-button {
  padding-left: 0.5rem;
  border-radius: 50%;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* Expanded Content */
.expanded-content {
  color: black;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.expanded-content.expanded {
  max-height: 1000px; /* Allow expansion */
}

.expanded-content:not(.expanded) {
  max-height: 0px; /* Collapsed content */
}
